.feedWrapper {
  margin: auto;
}
.feed {
  font-weight: 400;
  color: #1e1d1a;
  text-align: center;
}

.feed > a {
}
.feed > a:hover {
  color: #1de9e9;
}

.list-overflow-container {
  direction: rtl;
  max-height: 200px;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.list-overflow-container::-webkit-scrollbar {
  background-color: #1de9e9a6;
  border-radius: 8px;
}
.list-overflow-container::-webkit-scrollbar-thumb {
  background-color: #1db6e9;

  border-radius: 8px;
}
.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2a878c;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.list-group-item {
  direction: ltr;
  background-color: #1de9b6;
  font-family: "Spectral", sans-serif;
  color: #1e1d1a;
  font-size: 14px;
  transition: all ease-in-out 0.2s;
}
.list-group-item:hover {
  background-color: #1de9e9;
}

.nameSpan {
  transition: all ease-in-out 0.2s;
}
.nameSpan:hover {
  color: rgb(32, 32, 32);
}
