h1 {
  font-family: 'Apple Chancery' , cursive;
  color: black;
  font-size: 100px;
  text-align: center;
}

body {
  background-color: #1de9b6;
}

.NavLinks {
  color:  #1de9b6;
}
.navbar {
  background-color: #424242;
}